*{
    transition: all .5s;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

body.active{
    background-color: #000000;
}

:root{
    --bg-dark: #242424;
    --color-dark: #dcdcdc;
    --bg-light: #e9e9e9;
    --color-light: #242424;
}

.header {
    background-color: var(--bg-light);
    color: var(--bg-dark);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header.active{
    background-color: var(--bg-dark);
    color: var(--bg-light);
}

.logo{
    font-size: 2em;
}

.nav {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    align-items: center;
}

.nav-list li {
    cursor: pointer;
}

.nav-list .toggle-btn {
    width: 40px;
    height: 15px;
    background: #5d5d5d;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all 0.3s ease;
}

.toggle-btn.active {
    background: #efc407 ;
    justify-content: end;
}

.toggle-btn .toggle-btn-inner {
    width: 20px;
    height: 20px;
    background: #efc407;
    border-radius: 50%;
    position: relative;
}

.toggle-btn-inner.active {
    background: #5d5d5d ;
}

.main-content {
    padding: 15px;
    align-items: center;
    box-sizing: border-box;
    margin: 15px;
    border-radius: 20px;
    background-color: var(--bg-light);
    color: var(--color-light);
    width: 75%;
    justify-self: center;
}

.main-content.active{
    background-color: var(--bg-dark);
    color: var(--color-dark);
}

#timeline {
    margin: 20px 10px;
}

.timeline-container {
    border: 5px solid #0000ff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 0;
}

.timeline-item{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.timeline-item .timestamp {
    height: 15px;
    width: 15px;
    background-color: #ff0000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
}


.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.timestamp .timestamp-text {
    color: var(--color-light);
    font-size: 12px;
    margin: 15px;
}

.active .timestamp .timestamp-text{
    color: var(--color-dark);
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item .item-description{
    text-align: justify;
    font-size: 16px;
    padding: 10px 20px;
}

.item-image-container {
    width: 100%;
    display: grid;
    justify-content: center;
}

 .item-image{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-sizing: border-box;
}

.item-image-container .item-image-caption {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    font-size: 15px;
    padding: 5px;
}

.item .load-more-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.modal-container {
    background-color: var(--bg-light);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    color: var(--color-light);
}

#modal.active .modal-container {
    background-color: var(--bg-dark);
    color: var(--color-dark);
}

.modal-container .close-button {
    background: red;
    border: none;
    color: var(--color-dark);
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    border-radius: 5px;
    top: 10px;
    right: 10px;
}

.d-none{
    display: none;
}

.d-flex {
    display: flex;
}

@media screen and (max-width: 768px) {
    .header{
        display: grid;
        justify-content: center;
    }
    .nav-list {
        flex-direction: column;
        align-items: center;
    }
    .main-content {
        width: 90%;
    }
    .item-image-container {
        width: 100%;
    }
    .item-image {
        width: 100%;
        height: auto;
    }
    
}